{#
/**
 * @file
 * Default theme implementation for a paragraphs actions component.
 *
 * Available variables:
 * - actions - default actions, always visible and not in dropdown.
 * - dropdown_actions - actions for dropdown subcomponent.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% set dropdown_actions_output = render_var(dropdown_actions) %}
{% if dropdown_actions_output %}
  <div{{attributes.addClass(list_classes)}}>
    {% set first = actions|first %}
    <span{{first.attributes.addClass(list_item_classes).addClass(dropbutton_classes)}}>
      {%- if first.link -%}
        <a{{link_attributes.addClass(link_classes)}} href="{{ first.link['#url'].toString() }}">
          {{ first.text }}</a>
        {%- elseif first.text_attributes -%}
        <span{{first.text_attributes}}>
          {{ first.text }}</span>
        {%- else -%}
        {{ first.text }}
      {%- endif -%}
    </span>
    {% if links|length > 1 %}
      <div{{secondary_list_attributes.addClass(secondary_list_classes).addClass(dropbutton_classes)}}>
        <div{{pin_attributes.addClass(pin_classes)}}>
          {%- for item in links -%}
            {% if not loop.first %}
              <span{{item.attributes.removeClass(secondary_list_classes).removeClass(dropbutton_classes).addClass(secondary_list_item_classes)}}>
                {%- if item.link -%}
                  <a{{link_attributes.addClass(link_classes)}} href="{{ item.link['#url'].toString() }}">
                    {{ item.text }}</a>
                  {%- elseif item.text_attributes -%}
                  <span{{item.text_attributes}}>
                    {{ item.text }}</span>
                  {%- else -%}
                  {{ item.text }}
                {%- endif -%}
              </span>
            {% endif %}
          {%- endfor -%}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
